<% content_for(:title, t('.title')) %>

<div id="workouts">
  <div class="row">
    <% @workouts.each do |workout| %>
      <div class="col-md-6">
        <%= render workout %>
      </div>
    <% end %>
  </div>
</div>

<div class="d-grid gap-2">
  <%= link_to t('.action_new'), new_sheet_workout_path(@sheet), data: { controller: "bridge--nav-button", bridge_title: "+ New" }, class: 'btn btn-success' %>
</div>

<br>

<%= link_to t('.link_back'), sheets_path, class: 'hide-on-mobile' %>
