<% content_for(:title, 'Workouts') %>

<div id="workouts">
  <div class="row">
    <% @workouts.each do |workout| %>
      <div class="col-md-6">
        <%= render workout %>
      </div>
    <% end %>
  </div>
</div>

<div class="d-grid gap-2">
  <%= link_to "New workout", new_workout_path, data: { controller: "bridge--nav-button", bridge_title: "+ New" }, class: 'btn btn-success' %>
</div>
