<% content_for(:title, 'Workouts') %>

<% if !@workouts.exists? %>
  <div class="alert alert-warning">
    This sheets is empty!
  </div>
<% end %>

<div id="workouts">
  <div class="row">
    <% @workouts.each do |workout| %>
      <div class="col-md-6">
        <%= render workout %>
      </div>
    <% end %>
  </div>
</div>

<div class="d-grid gap-2">
  <%= link_to "New workout", new_sheet_workout_path(@sheet), data: { controller: "bridge--nav-button", bridge_title: "+ New" }, class: 'btn btn-success' %>
</div>
