<div class="border-bottom py-2">
  <div class="d-flex align-items-center justify-content-between gap-3">
    <div class="d-flex align-items-center gap-2 flex-grow-1">
      <% if user.avatar.attached? %>
        <%= image_tag user.avatar, class: "img-fluid rounded-circle border border-primary", style: "width: 35px; height:35px;" %>
      <% end %>
      <p class="mb-0 text-truncate fw-semibold"><%= user.username %></p>
    </div>

    <div id="<%= user.username %>">
      <%= link_to sheet_shareables_path(recipient_name: user.username), data: {turbo_method: :post, turbo_frame: "_top"}, class: "btn btn-sm btn-secondary" do %>
        send a copy <i class="bi bi-send ms-2"></i>
      <% end %>
    </div>
  </div>
</div>
