<div id="flash_container" class="position-sticky z-3" style="top: 8px;">
  <div class="container mt-1 mb-3 hide-on-mobile">
    <div class="alert alert-dark py-2 rounded mb-0 d-flex align-items-center gap-2" role="alert" data-controller="toast">

      <span>
        <%= link_to follower.name, social_profile_path(follower), class: "text-decoration-none text-primary" %> <%= t('toast.new_follower') %> </span>
      <button type="button" class="btn-close text-body ms-auto" data-bs-dismiss="alert"></button>
    </div>
  </div>
</div>
