<div class="container mt-1 mb-3 hide-on-mobile">
  <div class="alert alert-dark py-2 rounded mb-0 d-flex align-items-center gap-2" role="alert" data-controller="bridge--flash-message">
    <span class="flex-grow-1"><%= message %></span>

    <button type="button" class="btn-close flex-shrink-0" data-bs-dismiss="alert"></button>
  </div>
</div>
