<div class="d-flex justify-content-between align-items-center">
  <h1><%= t('.title') %></h1>
  <%= link_to t('new'), new_shares_shared_sheet_path, data: { controller: "bridge--nav-button", bridge_title: "+ New" }, class: 'btn btn-success mb-3' %>
</div>

<div id="shared_sheets" class="row">
  <%= render partial: "shared_sheet", collection: @shared_sheets, as: :shared_sheet, id: "shared_sheet" %>
</div>
