<div class="col-lg-4 col-md-6">
  <div class="shadow rounded p-2">
      <div class="d-flex align-items-center mb-2 gap-2">
        <%= image_tag user.avatar, class: 'rounded-circle flex-shrink-0', width: 40, height: 40 %>
        <div class="text-muted small text-break">
          <%= user.email %>
        </div>
      </div>
      <%= button_to sheet_clones_path(@sheet, user_id: user.id), method: :post, class: "w-100 btn btn-sm btn-success" do %>
        <i class="bi bi-share"> send a sheet clone</i>
      <% end %>
    </div>
</div>
