<%= form_with url: sheets_path, method: :get, data: { turbo_frame: "sheets" } do |form| %>
  <%= form.hidden_field :type, value: params[:type] %>
  <%= form.hidden_field :completed, value: params[:completed] %>

  <div class="input-group input-group-sm mt-2">
    <span class="input-group-text bg-transparent border-end-0">
      <i class="bi bi-compass"></i>
    </span>

    <%= form.search_field :search, value: params[:search], class: "form-control border-start-0 ps-0", placeholder: t('search') %>
  </div>
<% end %>
