<div id="<%= dom_id sheet %>">
  <p>
    <strong>Name:</strong>
    <%= sheet.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= sheet.description %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= sheet.sheet_type %>
  </p>

</div>
