<h1 class="hide-on-native">Editing sheet</h1>

<%= render "form", sheet: @sheet %>

<br>

<div class="hide-on-native">
  <%= link_to "Show this sheet", @sheet %> |
  <%= link_to "Back to sheets", sheets_path %>
</div>
