<h1><% content_for(:title, "Edit Sheet") %></h1>

<div class="alert alert-danger" role='alert'>
  <p>
    <strong>Alert: </strong>If you change the sheet type, all content will be deleted!
  </p>
</div>

<%= render "form", sheet: @sheet %>

<div class='hide-on-mobile mt-2'>
  <%= link_to "Back to fichas", sheets_path %>
</div>
