<% content_for(:title, t('.title')) %>

<% if @sheet.workouts.exists? || @sheet.diets.exists? %>
  <div class="alert alert-warning py-2 rounded" role="alert"><%= t('.alert')%></div>
<% end %>

<div class="my-4">
    <%= render "form", sheet: @sheet %>
</div>

<%= link_to 'back', @sheet, class: 'hide-on-mobile' %>
