<h1><% content_for(:title, t('.title')) %></h1>


<% if @sheet.workouts.exists? || @sheet.diets.exists? %>
  <div class="alert alert-danger" role='alert'>
    <p>
      <strong><%= t('.alert') %></strong><%= t('.alert_detail')%>
    </p>
  </div>
<% end %>

<%= render "form", sheet: @sheet %>

<br>

<%= link_to t('.link_back'), @sheet, class: 'hide-on-mobile' %>
