<% content_for(:title, t('.title')) %>

<% if @sheet.workouts.exists? || @sheet.diets.exists? %>
  <div class="bg-dark text-light p-2 rounded" role='alert'>
    <p class="pb-0 mb-0"><%= t('.alert')%></p>
  </div>
<% end %>

<div class="my-4">
    <%= render "form", sheet: @sheet %>
</div>

<%= link_to 'back', @sheet, class: 'hide-on-mobile' %>
