<h1><% content_for(:title, "Sheets") %></h1>

<div id="sheets">
  <% @sheets.each do |sheet| %>
    <div class='<%= cycle('bg-success-subtle', 'bg-light') %> shadow rounded p-2 mb-3'>
      <%= render sheet %>
      <%= link_to "show sheet", sheet, class: 'btn btn-success' %>
    </div>
  <% end %>
</div>

<div class="d-grid gap-2">
  <%= link_to "New sheet", new_sheet_path, data: { controller: "bridge--nav-button", bridge_title: "+ New" }, class: 'btn btn-success' %>
</div>
