<% if notice.present? %>
  <p style="color: green" data-controller="bridge--flash-message"><%= notice %></p>
<% end %>

<h1 class="hide-on-native">Sheets</h1>

<div id="sheets">
  <% @sheets.each do |sheet| %>
    <%= render sheet %>
    <p>
      <%= link_to "Show this sheet", sheet %>
    </p>
  <% end %>
</div>

<%= link_to "New sheet", new_sheet_path, data: { controller: "bridge--nav-button", bridge_title: "+ New" } %>
