<h1><% content_for(:title, "Sheet") %></h1>

<div class='bg-success-subtle shadow rounded mb-4'>
  <div class="p-2">
    <%= render @sheet %>
  </div>
</div>

<div data-controller="bridge--menu">
  <div class="d-none" data-controller="bridge--nav-button" data-action="click->bridge--menu#show">Options</div>

  <div class='btn-toolbar'>
    <div data-bridge--menu-target="title" class="d-none">Contact Options</div>
    <%= link_to "Edit sheet", edit_sheet_path(@sheet), data: { bridge__menu_target: "item" }, class: 'btn btn-secondary me-4' %>
    <%= button_to "Destroy sheet", @sheet, method: :delete, data: { bridge__menu_target: "item", 'turbo-confirm': 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>
  <hr>
    <%= link_to 'Back to sheet', sheets_path, class: 'hide-on-mobile' %>
</div>
