<div class="border rounded p-2">
  <div class="d-flex align-items-center gap-3 mb-3">
    <%= image_tag user.avatar.attached? ? user.avatar : "avatar.png", class: "rounded-circle object-fit-cover border", size: "48x48" %>
    <p class="mb-0 text-muted small text-truncate"><%= user.email %></p>
  </div>

  <%= form_with url: notifications_path(recipient_id: user.id, sheet_id: sheet.id) do |form| %>
    <%= form.submit "Send a sheet copy", class: "btn btn-success btn-sm w-100" %>
  <% end %>
</div>
