<% content_for(:title, t('.title')) %>

<h1>Notifications</h1>

<div class="row">
  <% @notifications.each do |notification| %>
    <div class="col-md-6 p-2">
      <div class="border rounded shadow p-2">
        <%= render notification %>
      </div>
    </div>
  <% end %>
</div>
