<% content_for(:title, t('.title')) %>

<h1>Notifications</h1>

<div class="row">
  <% @notifications.each do |notification| %>
    <div id="<%= dom_id notification %>" class="col-md-6 p-2">
      <%= render notification %>
    </div>
  <% end %>
</div>
