<% content_for(:title, t('.title')) %>

<h1>Notifications</h1>

<%= turbo_stream_from [:notifications, @user] %>

<div id="notifications" class="row">
  <% @notifications.each do |notification| %>
    <%= render notification %>
  <% end %>
</div>
