<% if @sheet.sheet_completions_today.any? %>
  <span class="fw-bold alert alert-success d-inline-flex align-items-center mb-2 py-1" role="alert">
    <i class="bi bi-trophy-fill me-1 text-warning"></i> <%= "#{t('completed')} #{@sheet.sheet_completions_today.size}x #{t('today')}" %>
  </span>
<% end %>
