<% if @sheet.sheet_completions_today.any? %>
  <p class="mb-3">
     <i class="bi bi-trophy-fill me-1 text-warning"></i> <%= "#{t('completed')} #{@sheet.sheet_completions_today.size}x #{t('today')}" %>
  </p>
<% end %>
