<div class="container">

  <% if notice %>
    <div class="alert alert-danger mb-3" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <%= link_to root_path, class: 'link-dark link-underline-opacity-0' do %>
    <div class="bg-info bg-opacity-10 border border-info rounded mb-3">
      <div class="text-center p-2">
        <h5>Treinos</h5>
        <p>This is a wider card with supporting text below as a natural lead-in
          to additional content.</p>
      </div>
    </div>
  <% end %>

  <%= link_to root_path, class: 'link-dark link-underline-opacity-0' do %>
    <div class="bg-info bg-opacity-10 border border-info rounded mb-3">
      <div class="text-center p-2">
        <h5>Dietas</h5>
        <p>This is a wider card with supporting text below as a natural lead-in
          to additional content.</p>
      </div>
    </div>
  <% end %>

  <%= link_to root_path, class: 'link-dark link-underline-opacity-0' do %>
    <div class="bg-info bg-opacity-10 border border-info rounded mb-3">
      <div class="text-center p-2">
        <h5>Treinos</h5>
        <p>This is a wider card with supporting text below as a natural lead-in
          to additional content.</p>
      </div>
    </div>
  <% end %>
</div>
