<h1><% content_for(:title, "Fichas de dietas") %></h1>

<% @fichas.each do |ficha| %>
  <%= link_to ficha, class: "link-underline link-underline-opacity-0 link-white" do %>
    <div class='<%= cycle('bg-secondary-subtle link-dark', 'bg-white link-dark') %> rounded'>
      <%= render 'fichas/ficha_index', ficha: ficha %>
    </div>
  <% end %>
<% end %>

<div class="d-grid gap-2">
  <%= link_to "Nova ficha", new_ficha_path, data: { controller: "bridge--nav-button", bridge_title: "+ Ficha" }, class: 'btn btn-primary' %>
</div>
