<% content_for(:title, t('.title')) %>

<div data-controller="upload-preview">
  <div class="text-center mb-3">
    <% if @user.avatar.persisted? && @user.avatar.attached? %>
      <%= image_tag @user.avatar, data: { "upload-preview-target": "currentFile" }, class: 'rounded-circle img-fluid', style: "width: 180px; height: 180px;" %>
    <% end %>
    <%= image_tag "", data: { "upload-preview-target": "previewUpload" }, class: 'rounded-circle img-fluid', hidden: true, style: "width: 180px; height: 180px;" %>
  </div>

  <div id="form">
    <%= render 'identity/avatars/form', user: @user %>
  </div>
</div>
