<% content_for(:title, t('.title')) %>

<div data-controller="files--upload-preview">
  <div class="text-center mb-3">
   <% if @user.avatar.attached? && @user.avatar.persisted? %>
     <%= image_tag @user.avatar, data: { "files--upload-preview-target": "currentFile" }, class: 'rounded-circle object-fit-cover border', style: "width: 160px; height: 160px;", hidden: !@user.avatar.attached? %>
   <% end %>

    <%= image_tag "avatar.png", data: { "files--upload-preview-target": "previewUpload" }, class: 'rounded-circle object-fit-cover border', style: "width: 160px; height: 160px;", hidden: @user.avatar.attached? %>
  </div>


  <div id="form">
    <%= render 'identity/avatars/form', user: @user %>
  </div>
</div>
