<div id="<%= dom_id ficha %>">
  <div>
    <h2 class='fw-bold'><%= ficha.nome %></h2>
    <p> <strong>Descrição: </strong><%= ficha.descricao %></p>
    <% if action_name == 'show' %>
      <p><strong>tipo de dieta: </strong><%= ficha.tipo %></p>
    <% end %>
  </div>
</div>
