<h1><% content_for(:title, "Editando ficha") %></h1>

<%= render "form", ficha: @ficha %>

<br>

<div class='hide-on-mobile'>
  <%= link_to "Show this ficha", @ficha, class: 'link-offset-2 link-underline link-underline-opacity-0 text-indigo rounded' %> |
  <%= link_to "Back to fichas", fichas_path, class: 'link-offset-2 link-underline link-underline-opacity-0 text-indigo' %>
</div>
