<h1><% content_for(:title, "Editando ficha") %></h1>

<div class="alert alert-danger" role='alert'>
  <% if @ficha.tipo == 'dieta' %>
    <strong>Observação: Se mudar o tipo de ficha para treino, todos as dietas serão apagadas. Se houver!</strong>
  <% else %>
    <strong>Observação: Se mudar o tipo de ficha para dieta, todos os treinos serão apagados. Se houver!</strong>
  <% end %>
</div>

<%= render "form", ficha: @ficha %>

<br>

<div class='hide-on-mobile'>
  <%= link_to "Show this ficha", @ficha, class: 'link-offset-2 link-underline link-underline-opacity-0 text-indigo rounded' %> |
  <%= link_to "Back to fichas", fichas_path, class: 'link-offset-2 link-underline link-underline-opacity-0 text-indigo' %>
</div>
