<h1><% content_for(:title, "Dietas") %></h1>

  <% @fichas.each do |ficha| %>
    <%= link_to ficha, class: "link-offset-2 link-underline link-underline-opacity-0" do %>
      <%= render ficha %>
    <% end %>
  <% end %>

<div class="d-grid gap-2">
  <%= link_to "Nova Dieta", new_ficha_path, class: 'btn btn-primary' %>
</div>
