<p style="color: green"><%= notice %></p>

<h1>Fichas</h1>

<div id="fichas">
  <% @fichas.each do |ficha| %>
    <%= render ficha %>
    <p>
      <%= link_to "Show this ficha", ficha %>
    </p>
  <% end %>
</div>

<%= link_to "New ficha", new_ficha_path %>
