<h1><% content_for(:title, "Todas as fichas") %></h1>

  <% @fichas.each do |ficha| %>
    <div class='<%= cycle('bg-success-subtle', 'bg-light') %> shadow rounded mb-4'>
      <%= render ficha %>
    </div>
  <% end %>

  <div class="d-grid gap-2">
    <%= link_to "Nova ficha", new_ficha_path(@ficha), data: { controller: "bridge--nav-button", bridge_title: "+ ficha" }, class: 'btn btn-primary' %>
  </div>
