<% content_for(:title, 'Diets') %>

<% if !@diets.exists? %>
  <div class="alert alert-warning">
    This sheets is empty!
  </div>
<% end %>

<div id="diets">
  <div class="row">
    <% @diets.each do |diet| %>
      <div class="col-md-6">
        <%= render diet %>
      </div>
    <% end %>
  </div>
</div>

<div class="d-grid gap-2">
  <%= link_to "New diet", new_sheet_diet_path(@sheet), data: { controller: "bridge--nav-button", bridge_title: "+ Diet" }, class: 'btn btn-success' %>
</div>
