<% content_for(:title, 'Diets') %>

<div id="diets">
  <div class="row">
    <% @diets.each do |diet| %>
      <div class="col-md-6">
        <%= render diet %>
      </div>
    <% end %>
  </div>
</div>

<div class="d-grid gap-2">
  <%= link_to "New diet", new_diet_path, data: { controller: "bridge--nav-button", bridge_title: "+ Diet" }, class: 'btn btn-success' %>
</div>
