<% content_for(:title, t('.title')) %>

<h1 class="mb-3">
  <%= link_to sheet_diets_path(@sheet), class: 'd-flex align-items-center gap-2 text-decoration-none text-body' do %>
    <i class="bi bi-arrow-left-short"></i><%= t('.title') %>
  <% end %>
</h1>

<%= render "form", diet: @diet %>
