/*
 * Provides a drop-in pointer for the default Trix stylesheet that will format the toolbar and
 * the trix-editor content (whether displayed or under editing). Feel free to incorporate this
 * inclusion directly in any other asset bundle and remove this file.
 *
 *= require trix
*/

/*
 * We need to override trix.css’s image gallery styles to accommodate the
 * <action-text-attachment> element we wrap around attachments. Otherwise,
 * images in galleries will be squished by the max-width: 33%; rule.
*/
.trix-content .attachment-gallery > action-text-attachment,
.trix-content .attachment-gallery > .attachment {
  flex: 1 0 33%;
  padding: 0 0.5em;
  max-width: 33%;
}

[data-bs-theme="dark"] trix-toolbar [data-trix-button-group] button {
  filter: invert(1) brightness(2) contrast(200%);
}

[data-bs-theme="dark"] trix-toolbar button[disabled] {
  filter: invert(1) brightness(4) contrast(100%);
  opacity: 100%;
}

[data-bs-theme="dark"] trix-toolbar .trix-dialog {
  background-color: #212529;
  border-color: #495057;
  color: #dee2e6;
}

[data-bs-theme="dark"] trix-toolbar .trix-dialog input {
  background-color: #343a40;
  border: 1px solid #495057;
  color: #dee2e6;
}

[data-bs-theme="dark"] trix-toolbar .trix-dialog input::placeholder {
  color: #adb5bd;
}

.trix-content .attachment-gallery.attachment-gallery--2 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--2 > .attachment, .trix-content .attachment-gallery.attachment-gallery--4 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--4 > .attachment {
  flex-basis: 50%;
  max-width: 50%;
}

.trix-content action-text-attachment .attachment {
  padding: 0 !important;
  max-width: 100% !important;
}

 .trix-button-group--file-tools { display: none !important; }
