<div class="col-md-6 p-2">
  <div class="card shadow-sm position-relative">
    <%= render sheet %>
    <div class="position-absolute top-0 end-0 p-2", style="top: 1rem; right: 1rem; z-index: 2;">
      <%= link_to sheet_path(sheet), data: { turbo_frame: "_top" }, class: "me-1 btn btn-sm btn-success rounded-circle" do %>
        <i class="bi bi-pencil"></i>
      <% end %>
      <%= link_to sheet_shareables_path(sheet), data: { turbo_frame: "_top" }, class: "btn btn-sm btn-primary rounded-circle" do %>
        <i class="bi bi-share"></i>
      <% end %>
    </div>
    <%= link_to "", sheet_diets_or_workouts_path(sheet), data: { turbo_frame: "_top"}, class: "stretched-link" %>
  </div>
</div>
