<dialog data-controller="turbo-confirm"
        class="shadow bg-light rounded border p-3 mx-auto"
        style="width: 28rem; height: 6.8rem;">
  <form method="dialog" class="d-flex flex-column justify-content-between">
    <div class="mb-3">
      <p class="fw-bold m-0">Are you sure?</p>
    </div>
    <div class="d-flex justify-content-end gap-2">
      <button value="cancel" class="btn btn-secondary btn-sm">
        <i class="bi bi-x"></i> Cancel
      </button>
      <button value="confirm" class="btn btn-success btn-sm">
        <i class="bi bi-check-lg"></i> Confirm
      </button>
    </div>
  </form>
</dialog>
