<h1><% content_for(:title, 'Fichas de dietas') %></h1>

<% @ficha.diet.each do |diet| %>
  <%= link_to ficha_diet_path(@ficha, diet), class: "link-dark link-offset-2 link-underline link-underline-opacity-0" do %>
    <%= render diet %>
  <% end %>
<% end %>

<div class="d-grid gap-2">
  <%= link_to "Nova Dieta", new_ficha_diet_path(@ficha), data: { controller: "bridge--nav-button", bridge_title: "+ Dieta" }, class: 'btn btn-primary' %>
</div>
